body {
    font-family: 'Lucida Sans Regular';
}
button {
    width: 80px;
    background-color: lightgreen;
    border-radius: 5px;
}
input {
    margin-top: 3px;
    width: 400px;
    background-color: beige;
}
#in-tarea-act {
    width: 150px;
}
#nue-texto {
    width: 238px;
}

